<%= form_with model: bakery, local: true do |form| %>
  <%= render layout: "shared/fieldset_component", locals: { title: "Manage Bakery Details" } do %>
    <%= form.label :name, "Name", class: 'label' %>
    <%= form.text_field :name, placeholder: "Bakery Name", class: 'input' %>

    <%= form.label :description, "Description", class: 'label' %>
    <%= form.text_area :description, placeholder: "Bakery Description", class: 'textarea' %>


    <% if bakery.image.attached? %>
      <p class="text-sm">Current image:</p>
      <%= image_tag bakery.image.variant(resize_to_limit: [300, 200]), class: "rounded" %>
    <% end %>

    <%= form.label :image, "Image" %>
    <%= form.file_field :image, direct_upload: true, class: "file-input", accept: "image/*" %>

    <%= form.submit bakery.persisted? ? "Update Bakery" : "Create Bakery", class: "btn btn-primary" %>
  <% end %>
<% end %>
