<%= polaris_page do %>
  <%= polaris_vertical_stack(inline_align: :center, gap: "5") do %>

    <% if @user&.errors&.any? %>
      <%= polaris_banner(
            status: :critical,
            title: "#{pluralize(@user.errors.count, 'error')} prohibited this user from being saved:"
          ) do %>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <%= form_with(model: @user, url: sign_up_path, method: :post, local: false, builder: Polaris::FormBuilder) do |form| %>      <%= polaris_vertical_stack(gap: "3") do %>
        <%= form.polaris_text_field(
              :email,
              label: "Email",
              required: true,
              autofocus: true,
              autocomplete: "email"
            ) %>

        <%= form.polaris_text_field(
              :password,
              label: "Password",
              type: :password,
              required: true,
              autocomplete: "new-password",
              help_text: "6 characters minimum."
            ) %>

        <%= form.polaris_text_field(
              :password_confirmation,
              label: "Confirm password",
              type: :password,
              required: true,
              autocomplete: "new-password"
            ) %>

        <%= polaris_button(submit: true, primary: true) { "Sign up" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
