<nav class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to "Home 🥖", root_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <% if Current.user %>
      <%= button_to "Log out", sign_out_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", sign_in_path %> |
      <%= link_to "Sign up", sign_up_path %>
    <% end %>

    <%= render "shared/theme-switcher" %>
  </div>
</nav>
